.tab{
    width: 800px;
    margin-left: 61px;
    margin-bottom: 107px;
}

#sec3 {
    margin-right: 640px;
    margin-bottom: 40px;
    margin-left: -11px;
}

button.sub {
    width: 84px;
    margin-top: 23px;
}

button.cancel {
    margin-left: 262px;
    background-color: red;
    text-decoration: none;
    margin-top: 25px;
    width: 90px;
}

  #sec1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-right: 300px!important;
}

#sec2 {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 450px;
    box-shadow: 0px 0px 5px 6px rgb(0 0 0 / 3%);
}

#sec3{
    display: contents;
}

#sec2 {
    padding-top: 65px;
}

#seeprofile{
    margin-bottom: 50px;
}

#seeprofile {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 80%;
    margin: auto;
}

#sec4 {
    margin: auto!important;
    height: 201px;
    background-color: rgb(176, 219, 236);
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    margin-top: 45px;
}

h1.headline {
  margin-right: 525px;
  margin-top: 61px;
  margin-bottom: -51px;
}

Table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    justify-content: center;
    display: inline-table;
  }
  table.table.table-striped.table-bordered.table-hover {
    width: 90%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
   td{
    height: 50px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    margin-bottom: -58px;
} */
  
  .Apps {
        text-align: center;
    }
  
  html {
      margin-top: 40px;
  }
    
  .Apps {
    width: 70%;
    margin-left: 62px;
    margin-bottom: 395px;
  }
    
  th {
     padding-right: 121px;
  }

  button.btn1.btn.btn-primary {
    margin-left: -57px;
    margin-top: 8px;
    margin-bottom: 3px;
  }
  
  button.btn2.btn.btn-primary {
      margin-right: 18px;
      margin-top: 4px;
  }
  
  .form-group {
    margin-left: 34px;
  }
  
  button.cancel.btn.btn-primary {
    margin-left: 272px;
    background-color: red;
    text-decoration: none;
    margin-top: -63px;
  }
  
  button.sub.btn.btn-primary {
    margin-left: 5px;
    margin-top: 4px;
  }
  
  button.btn0.btn.btn-primary {
    margin-bottom: 31px;
    margin-top: 18px;
    margin-right: 538px;
  }
  
  button.sav.btn.btn-primary {
    margin-left: 303px;
    margin-top: 48px;
  }
  
  button.can.btn.btn-primary {
    margin-left: 19px;
    margin-top: 46px;
  }
  
  button.add.btn.btn-primary {
    margin-bottom: 28px;
    margin-right: 705px;
    margin-top: 76px;
  }
  
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 37%;
    margin-left: 406px;
    background-color: rgb(110, 91, 91);
  }
  
  .input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    
  }
    
   button.btn1  {
        margin-right: 10px;
        font-size: 14px;
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        text-decoration: none;
        border: none;
        padding: 4px;
        width: 47px;
        height: 32px;
    }
    
    button.btn2 {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        font-size: 14px;
        text-decoration: none;
        border: none;
        padding: 4px;
        width: 55px;
        height: 32px;
    }
    
    .userBtn {
      margin-left: -91vh;
      padding: 9px;
      background: green;
      color: white;
      border: none;
    }
    
    .popup {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 60;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .popup_inner {
      position: absolute;
      padding: 20px;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;
      margin: auto;
      background: white;
      width:33%;
      height: 70%;
    }
    
    .popupButtonClose {
      color: #3c8dd5;
      background: none;
      border: none;
      float: right;
      padding-top: 8px;
      padding-right: 10px;
      font-size: 16px;
      margin-top: 150px;
    }
    
    .popupButtonSave {
      color: white;
      background-color: #3c8dd5;
      float: right;
      border: none;
      padding: 8px;
      font-size: 16px;
    }
    
    input[placeholder="Enter author name" ] {
      width: 86%;
      padding: 17px;
    }
    
    input[placeholder="Enter blog here" ] {
      width: 86%;
      padding: 17px;
    }
    
    button.submit1 {
      margin-top: 35%;
      margin-left: 75%;
    }
  
    label {
      margin-right: 61%;
      margin-left: -28px;
      margin-bottom: 5px;
  }
    
   /* @media (prefers-reduced-motion: no-preference) {
      .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }
      } */
      
  .Apps-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
  }
      
  .Apps-link {
        color: #61dafb;
  }
      
   /* @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
   } */
    
  .ReactModal__Content.ReactModal__Content--after-open {
        width: 37%;
        margin-left: 406px;
        height: 80%;
        background-color: black;
  }
    
    h1 {
      margin-left: 134px;
  }
    
    element.style {
      position: fixed;
      inset: 0px;
      background-color: rgb(0 0 0 / 25%);
  }
    
    button.btn8.btn.btn-primary {
      margin-left: 400px;
      margin-top: -50px;
      margin-bottom: 19px;
  }
    
    button.btn9.btn.btn-primary {
      margin-left: 332px;
      margin-top: 92px;
  }
    
    button.btnuser.btn.btn-primary {
      margin-right: 577px;
  }
  
    .table-bordered>:not(caption)>* {
      border-width: 1px 0;
      margin-top: 12px;
  }