.tab{
    width: 800px; 
    margin-left: 61px;
    margin-bottom: 107px;
    margin-top: 92px;
}

/* textarea {
  width: 464px;
  padding-bottom: 207px;
  margin-top: 10px;
  background-color: rgb(176, 219, 236);
  border-color: rgb(176, 219, 236);
} */

textarea {
  width: 427px;
  padding-bottom: 199px;
  margin-top: 10px;
  background-color: rgb(191 243 251);
  border-color: rgb(176, 219, 236);
}

textarea :hover {
  border-color: rgb(176, 219, 236);
}

label.subheading {
  font-size: 38px;
  font-weight: 500;
  color: unset;
  margin-top: 155px;
  padding-top: 8px;
}

#sec3 {
    margin-right: 640px;
    margin-bottom: 40px;
    margin-left: -11px;
}

button.sub {
    width: 84px;
    margin-top: 23px;
}

button.cancel {
    margin-left: 262px;
    background-color: red;
    text-decoration: none;
    margin-top: 25px;
    width: 90px;
}

  #sec1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-right: 300px!important;
}

#sec2 {
    margin-right: -173px;
    margin-top: 53px;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 450px;
    box-shadow: 0px 0px 5px 6px rgb(0 0 0 / 3%);
}

/* #sec2 {
  margin-right: -173px;
 
  padding-top: 34px;
  margin-top: 53px;
  
} */

#parra{
  height: -1px;
  margin-top: 24px;
  /* border-style: solid;
  border-color: rgb(176, 219, 236); */
}
/*  */
#sec3{
    display: contents;
}

#sec2 {
    padding-top: 35px;
}

#seeprofile{
    margin-bottom: 50px;
}

#seeprofile {
    color: #fff;
    background-color: #04b1ed;
    border-color: #04b1ed;
    width: 80%;
    /* margin: auto; */
    /* margin-top: 99px; */
    margin-bottom: 150px;
    margin-top: 34px;
}

#sec4 {
    margin: auto!important;
    height: 201px;
    background-color: rgb(176, 219, 236);
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    margin-top: 45px;
}

#edit {
  margin-right: 88px;
  width: 80px;
  color: white;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  height: 40px;
  margin: 6px 93px 0px 0px;
  font-size: 20px;
}

#view {
  width: 148px;
  color: white;
  height: 40px;
}

#close {
  margin-left: 262px;
  background-color: red;
  text-decoration: none;
  margin-top: -63px;
  width: 90px;
}

#closes{
  margin-left: 262px;
  background-color: red;
  text-decoration: none;
  margin-top: -60px;
  width: 90px;
}

button#closeMT {
  margin-top: 10px;
}

h1.headline {
  margin-right: 525px;
  margin-top: 61px;
  margin-bottom: -51px;
}

h1.headlines {
  margin-right: 525px;
  margin-top: 61px;
}

td.tabledata {
  padding-right: 105px;
}

Table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    justify-content: center;
    display: inline-table;
    margin-top: 20px;
  }
  table.table.table-striped.table-bordered.table-hover {
    width: 107%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
   td{
    height: 50px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .Apps {
        text-align: center;
    }
  
  html {
      margin-top: 40px;
  }
    
  .Apps {
    width: 70%;
    margin-left: 26px;
    margin-bottom: 395px;
  }
    
  th {
     padding-right: 121px;
  }

  button.add.btn.btn-primary {
    display: block;
    margin-top: 60px;
}
  
  .form-group {
    margin-left: 34px;
  }

  #card-design{
    margin-left: 34px;
    margin-top: -69px;
  }

  /* .form-group {
    margin-left: 34px;
    margin-top: -69px;
} */
  
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 37%;
    margin-left: 406px;
    background-color: rgb(110, 91, 91);
  }
  
  .input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    
  }
    
    .userBtn {
      margin-left: -91vh;
      padding: 9px;
      background: green;
      color: white;
      border: none;
    }
    
    .popup {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 60;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .popup_inner {
      position: absolute;
      padding: 20px;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;
      margin: auto;
      background: white;
      width:33%;
      height: 70%;
    }
    
    .popupButtonClose {
      color: #3c8dd5;
      background: none;
      border: none;
      float: right;
      padding-top: 8px;
      padding-right: 10px;
      font-size: 16px;
      margin-top: 150px;
    }
    
    .popupButtonSave {
      color: white;
      background-color: #3c8dd5;
      float: right;
      border: none;
      padding: 8px;
      font-size: 16px;
    }
    
    input[placeholder="Enter author name" ] {
      width: 86%;
      padding: 17px;
    }
    
    input[placeholder="Enter blog here" ] {
      width: 86%;
      padding: 17px;
    }
      
  .Apps-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
  }
      
  .Apps-link {
        color: #61dafb;
  }
      
  .ReactModal__Content.ReactModal__Content--after-open {
        width: 37%;
        margin-left: 406px;
        height: 80%;
        background-color: black;
  }

  
    
    h1 {
      margin-left: 134px;
  }
    
    element.style {
      position: fixed;
      inset: 0px;
      background-color: rgb(0 0 0 / 25%);
  }
  
    .table-bordered>:not(caption)>* {
      border-width: 1px 0;
      margin-top: 12px;
  }

  @media (min-width: 576px){
  .modal-dialog {
      max-width: 500px;
      margin: 5.75rem auto;
  }
}