#body2 {
  min-height: 1000px;
  background-image: url('https://www.roadrules.info/_next/static/media/auth-bg.699f783a83c8bfcdca46d62a0ef0b77e.png');
  background-repeat: no-repeat;
  background-position-y: 101px;
  background-size: cover;
}

.mm {
  padding-top: 50px;
}

#card2 {
  height: 700px;
  line-height: 1.5;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 6px rgb(0 0 0 / 3%);
}

.container-fluid {
  background-color: white;
}

#signin2 {
  font-weight: 770;
  color: #264861;
  font-size: 41px;
  padding: 0px 50px;
}

.m {
  padding-right: 40px;
  padding-left: 41px;
}
input.form-control {
  background-color: #e0f6ff;
  height: 41px;
}

a {
  text-decoration: none !important;
}

.u {
  padding-left: 0px !important;
}

#logo {
  width: 380px;
  height: 80px;
  margin-top: 4px;
}

.navComponents {
  display: flex;
}

#logo2 {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

#signup {
  width: 81%;
  background-color: white;
  color: #264861;
  font-weight: 500;
  margin-top: 20px;
  font-size: 18px;
}

#signUp {
  color: rgb(253, 253, 255);
}

#logo {
  width: 380px;
  height: 79px;
  margin-top: 4px;
  margin-left: -30px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-left: 60px;
  font-size: 17px;
}

ul.u {
  margin-left: 75px;
}

li {
  padding-right: 35px !important;
  padding-top: 20px !important;
}

li:hover {
  cursor: pointer;
}
