/* p{
    color:brown;
    border: aqua;
}
card{
    border: 2px black;
} */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 40%;
}
.img-responsive{
    width: 300px;
    height: 300px;
}