#middle {
    width: '100%';
  }

  .background {
    background-image: url(https://www.roadrules.info/images/home.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #264861;
    min-height: 85vh;
    margin-bottom: 120px;
  }
  
  .footer-card {
    text-align: initial;
  }
  
  p3 {
    font-size: 20px;
    padding: 10px 70px 0px;
    font-weight: 600 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    color: #264861;
    padding-top: 90px;
    padding-bottom: 10px;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 750 !important;
  }
  
  .left {
    padding: 5px;
    color: #264861;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  #leftim {
    size: 16px;
    height: 75%;
    width: 80%;
    float: right;
    margin-right: -50px;
  }
  p {
    font-size: 16px;
    color: #264861;
    font-weight: 600 !important;
  }

  .col-md-7 {
    padding-right: 70px !important;
    text-align: initial;
    margin-left: 45px;
  }
  #homesecondimg {
    background-image: url(https://www.roadrules.info/_next/static/media/auth-bg.699f783a83c8bfcdca46d62a0ef0b77e.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #264861;
    min-height: 100vh;
    margin-bottom: 120px;
  }
  #homesecondimg1 {
    background-image: url(https://www.roadrules.info/_next/static/media/auth-bg.699f783a83c8bfcdca46d62a0ef0b77e.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-position-y: -35px;
    background-size: cover;
    width: 100%;
    color: #264861;
    min-height: 100vh;
  }

  .title {
    color: #264861;
    font-weight: 600 !important;
  }

  .font-demi {
    font-weight: 660;
  }
  h5 {
    font-weight: 660;
    color: #264861;
  }

  #mny {
    font-size: 20px;
    font-weight: 660 !important;
  }

  #first{
    color: white;
    width: 170px;
    height: 48px;
    background-color: #04b1ed;
  }
  #second{
    color: white;
    width: 170px;
    height: 48px;
    background-color: #04b1ed;
  }
  #third{
    color: white;
    width: 170px;
    height: 48px;
    background-color: #04b1ed;
  }
  #fourth{
    color: white;
    width: 170px;
    height: 48px;
    background-color: #04b1ed;
  }
  .card {
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 6px rgb(0 0 0 / 3%);
  }
  
  .card-body {
    height: 253px;
  }
  .card.h-100 {
    border: none;
    box-shadow: 1px 0px 5px 6px rgb(0 0 0 / 5%);
  }
  .btncheckprices {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 90px !important;
  }
  button.btn.btn-lg {
    font-size: 15px;
    width: 220px;
    font-weight: 660;
    height: 50px;
  }
  h4.mb-5.text-center2 {
    font-size: 17px;
    font-weight: 750 !important;
    margin-top: 25px;
  }
  .font-demi.text-muted.text-center.mb-3 {
    margin-top: -22px;
  }
  #step1 {
    padding: 5px 15px;
    display: flex;
    font-size: 20px;
    font-weight: 700 !important;
    color: #264861;
    align-items: center;
  }
  #step2 {
    padding: 10px 15px;
    display: flex;
    font-size: 17px;
    font-weight: 660;
    color: #383e42;
    align-items: center;
  }
  #stepa {
    padding: 10px 15px;
    display: flex;
    font-size: 25px;
    font-weight: 660;
    color: #264861;
    align-items: center;
  }
  #stepb {
    padding: 10px 15px;
    display: flex;
    font-size: 27px;
    font-weight: 660;
    color: #264861;
    align-items: center;
  }
  div#homesecondimg1 {
    min-height: 700px;
  }
  
  #gif {
    padding-bottom: 40px;
  }
  
  #three {
    padding-top: 50px !important;
    padding-bottom: 40px;
  }
  .bottom {
    position: absolute;
    bottom: 0px;
  }
  .keychoice {
    position: relative;
    overflow: hidden;
    padding: 20px;
    box-shadow: 1px 0px 5px 6px rgb(0 0 0 / 5%);
  }
  #students {
    overflow: hidden;
    height: 470px;
    padding: 20px;
    box-shadow: 1px 0px 5px 6px rgb(0 0 0 / 5%);
  }
  #footer {
    background-image: linear-gradient(
      130deg,
      #eff7fa 20%,
      #e3e8eb 40%,
      #dbe3e9 50%,
      #e3eaf0 60%
    );
  }
  
  #key {
    display: flex;
    justify-content: center;
  }
  