div#navbarSupportedContent {
  justify-content: end;
  flex-grow: inherit;
  border-color: none;
}
img {
  cursor: pointer;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0px;
}
body{
  margin: 0px;
}
