.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 780px) {
  .log {
    display: flex;
    position: obsolute;
    top: 15px;
    left: 35px;
  }
  .nav-Links {
    display: none;
  }
  .nav-Links-mobile {
    position: obsolute;
    display: block;
    list-style: none;
    background-color: crimson;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
}
